<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.offer.home.title">Offers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offer" [routerLink]="['/offer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.offer.home.createLabel">
            Create a new Offer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offers?.length === 0">
        <span jhiTranslate="luminiskillsApp.offer.home.notFound">No offers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offers && offers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.creationDate">Creation Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.lastUpdate">Last Update</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.contractTerm">Contract Term</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.categoryId">Category Id</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.expirationDate">Expiration Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.activated">Activated</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.recruiterId">Recruiter Id</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.offer.applicationId">Application Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offer of offers ;trackBy: trackId">
                    <td><a [routerLink]="['/offer', offer.id, 'view']">{{ offer.id }}</a></td>
                    <td>{{ offer.creationDate | date:'mediumDate' }}</td>
                    <td>{{ offer.lastUpdate | date:'mediumDate' }}</td>
                    <td>{{ offer.contractTerm }}</td>
                    <td>{{ offer.categoryId }}</td>
                    <td>{{ offer.expirationDate | date:'mediumDate' }}</td>
                    <td>{{ offer.activated }}</td>
                    <td>{{ offer.description }}</td>
                    <td>
                        <div *ngIf="offer.recruiterId">
                            <a [routerLink]="['/recruiter', offer.recruiterId?.id, 'view']" >{{ offer.recruiterId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="offer.applicationId">
                            <a [routerLink]="['/application', offer.applicationId?.id, 'view']" >{{ offer.applicationId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offer', offer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offer', offer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
