<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offer">
            <h2><span jhiTranslate="luminiskillsApp.offer.detail.title">Offer</span> {{ offer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.offer.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ offer.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.lastUpdate">Last Update</span></dt>
                <dd>
                    <span>{{ offer.lastUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.contractTerm">Contract Term</span></dt>
                <dd>
                    <span>{{ offer.contractTerm }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.categoryId">Category Id</span></dt>
                <dd>
                    <span>{{ offer.categoryId }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.expirationDate">Expiration Date</span></dt>
                <dd>
                    <span>{{ offer.expirationDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.activated">Activated</span></dt>
                <dd>
                    <span>{{ offer.activated }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.description">Description</span></dt>
                <dd>
                    <span>{{ offer.description }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.recruiterId">Recruiter Id</span></dt>
                <dd>
                    <div *ngIf="offer.recruiterId">
                        <a [routerLink]="['/recruiter', offer.recruiterId?.id, 'view']">{{ offer.recruiterId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.offer.applicationId">Application Id</span></dt>
                <dd>
                    <div *ngIf="offer.applicationId">
                        <a [routerLink]="['/application', offer.applicationId?.id, 'view']">{{ offer.applicationId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer', offer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
