<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-application-heading" jhiTranslate="luminiskillsApp.application.home.createOrEditLabel">Create or edit a Application</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.application.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker #creationDateDp="ngbDatepicker" formControlName="creationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.application.newApplication" for="field_newApplication">New Application</label>
                    <input type="checkbox" class="form-control" name="newApplication" id="field_newApplication"
                           formControlName="newApplication"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.application.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                           formControlName="state"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.application.comment" for="field_comment">Comment</label>
                    <input type="text" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.application.stepId" for="field_stepId">Step Id</label>
                    <select class="form-control" id="field_stepId" name="stepId" formControlName="stepId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stepOption.id === editForm.get('stepId')!.value?.id ? editForm.get('stepId')!.value : stepOption" *ngFor="let stepOption of stepids; trackBy: trackById">{{ stepOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.application.candidateId" for="field_candidateId">Candidate Id</label>
                    <select class="form-control" id="field_candidateId" name="candidateId" formControlName="candidateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id === editForm.get('candidateId')!.value?.id ? editForm.get('candidateId')!.value : candidateOption" *ngFor="let candidateOption of candidates; trackBy: trackById">{{ candidateOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
