<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.application.home.title">Applications</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application" [routerLink]="['/application/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.application.home.createLabel">
            Create a new Application
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="applications?.length === 0">
        <span jhiTranslate="luminiskillsApp.application.home.notFound">No applications found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="applications && applications.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.application.creationDate">Creation Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.application.newApplication">New Application</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.application.state">State</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.application.comment">Comment</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.application.stepId">Step Id</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.application.candidateId">Candidate Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of applications ;trackBy: trackId">
                    <td><a [routerLink]="['/application', application.id, 'view']">{{ application.id }}</a></td>
                    <td>{{ application.creationDate | date:'mediumDate' }}</td>
                    <td>{{ application.newApplication }}</td>
                    <td>{{ application.state }}</td>
                    <td>{{ application.comment }}</td>
                    <td>
                        <div *ngIf="application.stepId">
                            <a [routerLink]="['/step', application.stepId?.id, 'view']" >{{ application.stepId?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="application.candidateId">
                            <a [routerLink]="['/candidate', application.candidateId?.id, 'view']" >{{ application.candidateId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/application', application.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/application', application.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(application)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
