<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="application">
            <h2><span jhiTranslate="luminiskillsApp.application.detail.title">Application</span> {{ application.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.application.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ application.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.application.newApplication">New Application</span></dt>
                <dd>
                    <span>{{ application.newApplication }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.application.state">State</span></dt>
                <dd>
                    <span>{{ application.state }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.application.comment">Comment</span></dt>
                <dd>
                    <span>{{ application.comment }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.application.stepId">Step Id</span></dt>
                <dd>
                    <div *ngIf="application.stepId">
                        <a [routerLink]="['/step', application.stepId?.id, 'view']">{{ application.stepId?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.application.candidateId">Candidate Id</span></dt>
                <dd>
                    <div *ngIf="application.candidateId">
                        <a [routerLink]="['/candidate', application.candidateId?.id, 'view']">{{ application.candidateId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/application', application.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
