<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.candidate.home.title">Candidates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate" [routerLink]="['/candidate/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.candidate.home.createLabel">
            Create a new Candidate
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="candidates?.length === 0">
        <span jhiTranslate="luminiskillsApp.candidate.home.notFound">No candidates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="candidates && candidates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.driverslicense">Driverslicense</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.mobility">Mobility</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.cv">Cv</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.bithDate">Bith Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.handicapSituation">Handicap Situation</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.fullProfil">Full Profil</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.candidate.withoutExperience">Without Experience</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                    <td><a [routerLink]="['/candidate', candidate.id, 'view']">{{ candidate.id }}</a></td>
                    <td>{{ candidate.driverslicense }}</td>
                    <td>{{ candidate.mobility }}</td>
                    <td>{{ candidate.city }}</td>
                    <td>{{ candidate.address }}</td>
                    <td>{{ candidate.cv }}</td>
                    <td>{{ candidate.bithDate | date:'mediumDate' }}</td>
                    <td>{{ candidate.handicapSituation }}</td>
                    <td>{{ candidate.fullProfil }}</td>
                    <td>{{ candidate.withoutExperience }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/candidate', candidate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/candidate', candidate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(candidate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
