<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.experience.home.title">Experiences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-experience" [routerLink]="['/experience/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.experience.home.createLabel">
            Create a new Experience
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="experiences?.length === 0">
        <span jhiTranslate="luminiskillsApp.experience.home.notFound">No experiences found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="experiences && experiences.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.institution">Institution</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.contract">Contract</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.fromDate">From Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.toDate">To Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.location">Location</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.skills">Skills</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.level">Level</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.experience.candidateId">Candidate Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let experience of experiences ;trackBy: trackId">
                    <td><a [routerLink]="['/experience', experience.id, 'view']">{{ experience.id }}</a></td>
                    <td>{{ experience.title }}</td>
                    <td>{{ experience.institution }}</td>
                    <td>{{ experience.contract }}</td>
                    <td>{{ experience.fromDate | date:'mediumDate' }}</td>
                    <td>{{ experience.toDate | date:'mediumDate' }}</td>
                    <td>{{ experience.location }}</td>
                    <td>{{ experience.skills }}</td>
                    <td>{{ experience.level }}</td>
                    <td>
                        <div *ngIf="experience.candidateId">
                            <a [routerLink]="['/candidate', experience.candidateId?.id, 'view']" >{{ experience.candidateId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/experience', experience.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/experience', experience.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(experience)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
