<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-experience-heading" jhiTranslate="luminiskillsApp.experience.home.createOrEditLabel">Create or edit a Experience</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.institution" for="field_institution">Institution</label>
                    <input type="text" class="form-control" name="institution" id="field_institution"
                           formControlName="institution"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.contract" for="field_contract">Contract</label>
                    <input type="text" class="form-control" name="contract" id="field_contract"
                           formControlName="contract"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.fromDate" for="field_fromDate">From Date</label>
                    <div class="input-group">
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker #fromDateDp="ngbDatepicker" formControlName="fromDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.toDate" for="field_toDate">To Date</label>
                    <div class="input-group">
                        <input id="field_toDate" type="text" class="form-control" name="toDate" ngbDatepicker #toDateDp="ngbDatepicker" formControlName="toDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="toDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.skills" for="field_skills">Skills</label>
                    <input type="text" class="form-control" name="skills" id="field_skills"
                           formControlName="skills"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.level" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.experience.candidateId" for="field_candidateId">Candidate Id</label>
                    <select class="form-control" id="field_candidateId" name="candidateId" formControlName="candidateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id === editForm.get('candidateId')!.value?.id ? editForm.get('candidateId')!.value : candidateOption" *ngFor="let candidateOption of candidates; trackBy: trackById">{{ candidateOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
