<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="recruiter">
            <h2><span jhiTranslate="luminiskillsApp.recruiter.detail.title">Recruiter</span> {{ recruiter.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.recruiter.post">Post</span></dt>
                <dd>
                    <span>{{ recruiter.post }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.recruiter.companyId">Company Id</span></dt>
                <dd>
                    <div *ngIf="recruiter.companyId">
                        <a [routerLink]="['/company', recruiter.companyId?.id, 'view']">{{ recruiter.companyId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/recruiter', recruiter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
