<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.company.home.title">Companies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/company/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.company.home.createLabel">
            Create a new Company
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
        <span jhiTranslate="luminiskillsApp.company.home.notFound">No companies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="companies && companies.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.company.logo">Logo</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.company.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.company.address">Address</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.company.postalCode">Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.company.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.company.country">Country</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies ;trackBy: trackId">
                    <td><a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a></td>
                    <td>{{ company.logo }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.postalCode }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.country }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/company', company.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(company)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
