<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="luminiskillsApp.company.detail.title">Company</span> {{ company.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.company.logo">Logo</span></dt>
                <dd>
                    <span>{{ company.logo }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.company.name">Name</span></dt>
                <dd>
                    <span>{{ company.name }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.company.address">Address</span></dt>
                <dd>
                    <span>{{ company.address }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.company.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ company.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.company.city">City</span></dt>
                <dd>
                    <span>{{ company.city }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.company.country">Country</span></dt>
                <dd>
                    <span>{{ company.country }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
