<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="training">
            <h2><span jhiTranslate="luminiskillsApp.training.detail.title">Training</span> {{ training.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.training.diploma">Diploma</span></dt>
                <dd>
                    <span>{{ training.diploma }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.training.university">University</span></dt>
                <dd>
                    <span>{{ training.university }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.training.fromDate">From Date</span></dt>
                <dd>
                    <span>{{ training.fromDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.training.toDate">To Date</span></dt>
                <dd>
                    <span>{{ training.toDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.training.city">City</span></dt>
                <dd>
                    <span>{{ training.city }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.training.candidateId">Candidate Id</span></dt>
                <dd>
                    <div *ngIf="training.candidateId">
                        <a [routerLink]="['/candidate', training.candidateId?.id, 'view']">{{ training.candidateId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/training', training.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
